<div id = "herosection" class="min-h-screen bg-slate-50">
    <div class="p-5">
        <div id = "bug-fix-button" class="flex gap-2 items-center text-yellow-500 bg-yellow-100 w-fit p-1 rounded cursor-pointer shadow-md hover:translate-y-1">
            <span>v20.1.0 Bug fix here</span>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>

    <div class="flex flex-col gap-9">
        <h1 id = "title" class="text-3xl text-center lg:text-5xl">Web App to destop app in minutes</h1>
        <div id = "Subtitle" class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex et optio minus! Ducimus saepe accusantium nihil blanditiis libero sunt, pariatur iure harum eos velit, voluptate, reprehenderit repellendus corporis odio magni.</div>
    </div>

    <div class="flex flex-col md:flex md:flex-row md:justify-around mt-5">
        <button class="border md:w-96 p-2 bg-blue-600 text-white border-none rounded md:hover:translate-y-1">Download</button>
        <button class="border md:w-96 p-2 bg-white rounded md:hover:translate-y-1">Read Docs</button>
    </div>
</div>
