<div class="p-5 bg-slate-50 rounded-lg border">
    <div class="header text-6xl font-bold m-5 text-center">How it works</div>
    <div class="card m-5">
        <!-- <div class="steps text-yellow-700 bg-yellow-100 w-fit p-2 border">Step 1</div> -->
        <div class="card-title m-5">
            <div class="text-3xl font-bold">Customizing Colors</div>
            <div class="m-3">
                Tailwind includes an expertly-crafted default color palette out-of-the-box that is a great starting point if you don’t have your own specific branding in mind.

                <!-- <span *ngFor="let item of features" class="">
                    <span>{{item}}</span>
                </span> -->

                <div class="grid grid-rows-4 grid-flow-col gap-4 m-5">
                    <div *ngFor="let item of features" class="text-gray-600 hover:text-green-500 hover:cursor-pointer hover:translate-y-1">
                        <i class="fa-solid fa-check"></i>
                        {{item}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>